:root {
  --logo-green: #59ba47;
  --light-hyperlink-green: rgb(8, 172, 172);
  --dark-hyperlink-green: rgb(12, 139, 139);

  --header-font-white: #cccccc;
  --paragraph-font-grey: #b4b5b7;
  --nofocus-font-grey: #75777a;

  --sidebar-black: #16181d;
  --searchbar-black: #1a1b20;
  --background-general: white;
  --input-grey: #2d2f36;

  --attention-red: #c10606;
  --background-footer: #052727;
}

body,
html {
  height: 100%;
  margin: 0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}


body {
  background-color: var(--background-general);
} 

abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

a{
  text-decoration: none;
  color: inherit;
}

a:focus{
  outline: 1px solid lightgray;
}

ul{
  list-style-position: outside;
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


@import './App.css';
@import './components/navbar/navbar.css';
@import './components/footer/footer.css';
@import './components/home/home.css';
@import './components/results/results.css';
@import './components/reusable/reusable.css';
@import './components/reusable/reactCalendar.css';